{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
        <div id="loading-text" class="text-primary mt-2">Игра загружается...</div>
    </div>
    </div>
    <script>
        function startGame() {
            fetch("{{ url_for('game_bp.start_new_game') }}")
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        window.location.href = data.redirect;
                    } else {
                        alert('Ошибка! Перенаправление на страницу входа.');
                        window.location.href = data.redirect;
                    }
                })
                .catch(() => {
                    alert('Ошибка при запуске игры.');
                });
        }
        startGame();
    </script>
{% endblock %}
